body {
  background: transparent;
  min-height: 98.4vh;
}

.roi-calculus {
  display: grid;
  grid-template-columns: 33.5% 66.5%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: last baseline;
  padding-left: 5%;
  margin-top: 12%;
}

.toplabel-styles {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.2px;
}

.p-inputnumber-input {
  font-size: 16px;
  font-weight: 600;
  padding-block: 6%;
  padding-inline: 12% 5px;
  letter-spacing: 0.75px;
  border-radius: 22px;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 10%;
}

.radio-spacing {
  margin: 5%;
}

.spacing2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.bouton {
  width: 15rem;
  background-color: rgb(47, 40, 224);
  color: rgb(255, 255, 255);
  border-radius: 22px;
  padding: 0.75em;
}

.result-graph {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;
  padding-left: 10%;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

.saldo-potencial {
  margin-top: 3.25%;
}

.final-result {
  font-size: 78px;
  font-weight: 600;
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  line-height: 103px;
}

.graph {
  width: 800px;
  height: 432px;
  border-radius: 22px;
  background-color: rgb(43, 101, 60);
}

@media (max-width: 1344px) {
  .roi-calculus {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form {
    align-items: center;
    padding: none;
  }
  .contributions-specific-styles {
    padding-left: 1%;
  }
  .roi-specific-styles {
    padding-left: 17%;
  }
  .top-container {
    justify-content: center;
  }
  .result-graph {
    align-items: center;
  }
  .graph {
    max-width: 90%;
    max-height: 44%;
  }
}
