#master {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.roi-calculus {
  display: grid;
  grid-template-columns: 30% 70%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  margin-top: 10%;
}

.spacing {
  margin-top: 10%;
  margin-bottom: 10%;
}

.radio-spacing {
  margin: 5%;
}

.spacing2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.radio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
}

.bouton {
  width: 15rem;
  background-color: rgb(47, 40, 224);
  color: rgb(255, 255, 255);
  border-radius: 22px;
  padding: 0.75em;
}

.result-graph {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
}

@media (max-width: 900px) {
  .roi-calculus {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  form {
    padding-left: none;
  }
  .result-graph {
    margin-top: 10%;
    padding-right: none;
  }
}
