*, (not).graph {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.roi-calculus {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 4.17%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 22.22%;
  max-width: 384px;
  margin-top: 17.5%;
  margin-left: 1.5%;
  margin-right: 3.33%;
}

.toplabel {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.2px;
  color: #2b653c;
}

.p-inputnumber-input {
  font-size: 16px;
  font-weight: 600;
  padding-block: 6.65%;
  padding-inline: 12% 0%;
  max-width: 240px;
  letter-spacing: 0.75px;
  border-radius: 30px;
  border: none;
  color: #767676;
}

.p-inputnumber-input:valid {
  color: #000000;
}

.contributions-specific {
  margin-bottom: 8%;
}

.radiolabel {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 20%;
}

.spacing {
  margin-top: 5%;
  margin-bottom: 5%;
}

.radio {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  width: 93.75%;
  height: 28.13%;
  vertical-align: baseline;
  justify-content: space-between;
  margin-bottom: 6%;
}
.p-radiobutton {
  box-sizing: border-box;
}

.p-radiobutton-input:checked + .p-radiobutton-box {
  border: 6px solid #74c947;
}

.p-radiobutton-box {
  background-color: transparent;
  border: 1px solid #000000;
}

.p-radiobutton-icon {
  background-color: transparent;
}

.individual-radio-containers {
  box-sizing: border-box;
  max-width: 50%;
  max-height: 50%;
  display: flex;
  justify-content: space-between;
  padding: 0 7.5%;
  margin: 3% 0;
}

.bottom-spacing {
  margin-bottom: 4%;
}

.slider-spacing {
  margin-top: 5%;
  margin-bottom: 18%;
}

.term {
  font-size: 22px;
  font-weight: 550;
  letter-spacing: 0.75px;
  color: #767676;
}

.p-slider {
  background-color: #ffffff;
}

.p-slider-range {
  border-radius: 22px;
  background-color: #74c947;
}

.p-slider-handle {
  border-color: #2b653c;
}

.bouton {
  height: 56px;
  width: 78.93%;
  max-width: 252.58px;
  background-color: #74c947;
  color: #ffffff;
  font-size: 1rem;
  border: none;
  border-radius: 30px;
  padding: 0.75em;
  margin-top: 7%;
  margin-bottom: 5%;
}

.result-graph {
  width: 55.56%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;
  margin-left: 3.33%;
}

.top-container {
  display: flex;
  flex-direction: column;
  justify-content: first baseline;
  align-items: center;
}

.potential-balance {
  margin-top: 3.25%;
  margin-bottom: 4%;
}

.final-result {
  font-size: 4.88em;
  font-weight: 600;
  border-bottom-style: dashed;
  border-bottom-width: 3px;
  line-height: 1.25em;
  color: #74c947;
}

.graph {
  max-width: 800px;
  max-height: 432px;
  border-radius: 22px;
  background-color: #2b653c;
}

@media (max-width: 1024px) {
  main {
    flex-direction: column;
  }
  .roi-calculus {
    flex-direction: column;
    justify-content: last baseline;
    align-items: center;
  }
  form {
    align-items: center;
  }
  .radio {
    align-self: center;
  }
  .radiolabel {
    font-size: 0.8rem;
  }
  .bouton {
    width: 208px;
    padding: none;
  }
  .result-graph {
    align-items: center;
  }
  .top-container {
    align-items: center;
  }
  .final-result {
    font-size: 2.8em;
    line-height: 1.2em;
  }
  .graph {
    max-width: min-content;
    border-radius: 22px;
    background-color: #2b653c;
  }
}
